src/main/resources/META-INF/spring-test.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://www.lexueba.com/schema/user"  
        xmlns:tns="http://www.lexueba.com/schema/user" 
        elementFormDefault="qualified">  
    <!-- 这里定义了一个普通的xsd文件 ，
    重新定义了一个新的targetNamespace，并在这个空间中定义了一个name为user的element，
    user有3个属性id，userName，email，并制定了类型，这3个类主要用于验证spring配置文件中
    自定义格式。
    -->
    <element name="user">  
        <complexType>  
            <attribute name="id" type="string" />  
            <attribute name="userName" type="string" />  
            <attribute name="email" type="string" />  
        </complexType>  
    </element>  
</schema> 